# URL base da API backend
VITE_API_URL=http://localhost:6060/api

# Ambiente HOMOLOGACAO
#VITE_API_URL=https://homolog.americobarber.com/api

# Ambiente PRODUCAO
#VITE_API_URL=https://americobarber.com/api
